.chat-2ZfjoI, .threadSidebar-1o3BTy {
    background: transparent;
}
.bg-1QIAus {
    background-image: url('https://wallpapercave.com/wp/wp2264639.png');
    background-size: cover;
}
.sidebar-1tnWFu {
    background: transparent;
}
.scroller-WSmht3 {
    background: transparent;
}
.privateChannels-oVe7HL {
    background-color: transparent;
}
.wrapper-1Rf91z {
    background-color: transparent;
}
.app-2CXKsg {
    background-color: transparent;
}
.container-ZMc96U.themed-Hp1KC_ {
    background-color: transparent;
}
.scrollableContainer-15eg7h {
    background-color: transparent;
}
.channelTextArea-1FufC0 {
    background-color: rgba(66, 7, 7, 0.26);
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background: linear-gradient(45deg, #942222, transparent);
}
.panels-3wFtMD {
    background-color: rgba(0, 0, 0, 0.421);
}
.theme-dark .form-3gdLxP:before {
    position: unset;
}

.cozy-VmLDNB .messageContent-2t3eCI {
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.scroller-2TZvBN {
    background-color: transparent;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: rgba(66, 7, 7, 0.541);
}
.theme-dark .children-3xh0VB:after {
    position: unset;
}
.childWrapper-1j_1ub {
    background-color: #c74c4c50;
}
.content-3spvdd {
    background-color: #c74c4c50;
    color: white;
}
.container-1NXEtd {
    background-color: transparent;
}
.members-3WRCEx, .members-3WRCEx>div {
    background-color: transparent;
}
.theme-dark {
    --scrollbar-thin-track: #a7303000;
    --scrollbar-auto-thumb: #4c0e0e;
    --scrollbar-thin-thumb: #e40a0a2e;
    --scrollbar-auto-track: transparent;
}
.searchBar-zdmu7v {
    background-color: rgba(66, 7, 7, 0.541);
}
.theme-dark .container-2cd8Mz {
    background-color: transparent;
}
.actionButton-3-B2x- {
    background-color: rgba(66, 7, 7, 0.541);
}
.actionButton-3-B2x-.highlight-3DSi7b {
    background-color: rgba(90, 11, 11, 0.815);
}
.nowPlayingColumn-1eCBCN {
    background-color: transparent;
}
.wrapper-2RrXDg {
    background-color: #80202054;
}
.container-2oNtJn {
    background-color: #80202054;
}
.container-1oeRFJ {
    color: #6e7a96;
}
.embedFull-1HGV2S {
    background: #4000006b;
}
.wrapper-2vIMkT {
    background-color: #4e161696;
}
.menu-1QACrS {
    background: #4a1b1b61;
}
.applicationStore-2nk7Lo {
    background-color: transparent;
}
.scroller-29cQFV {
    background-color: transparent;
}
.wordmarkWindows-2dq6rw {
    color: #4e0808;
}
.headerPlaying-j0WQBV {
    background-color: transparent;
}
.userPopout-3XzG_A {
    background-image: url('https://wallpapercave.com/wp/wp2264787.png');
    background-size: cover;
    background-position: -273px -90px;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: transparent;
}
.theme-dark .headerNormal-T_seeN {
    background-color: transparent;
}
.theme-dark .inset-SbsSFp {
    background-color: #4e070757;
}
.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover {
    background-color: #a51d1d54;
}
.topSectionNormal-2-vo2m {
    background-color: transparent;
}
.root-SR8cQa {
    background-image: url('https://wallpapercave.com/wp/wp2264680.png');
    background-size: cover;
    background-position: -60px;
}
.body-3ND3kc {
    background-color: transparent;
}
.sidebarRegionScroller-FXiQOh {
    background-color: transparent;
}
.standardSidebarView-E9Pc3j {
    background-image: url('https://wallpapercave.com/wp/wp2264713.jpg');
    background-size: cover;
}
.contentRegionScroller-2_GT_N {
    background-color: transparent;
}
.contentRegion-3HkfJJ {
    background: transparent;
}
.background-3d_SjE {
    background-color: rgba(0, 0, 0, 0.441);
}
.fieldList-in8WkP {
    background-color: rgba(0, 0, 0, 0.441);
}
.item-2idW98 {
    background-color: rgba(0, 0, 0, 0.441);
}
.item-2idW98[aria-checked=true] {
    background-color: rgba(0, 0, 0, 0.741);
}
.accountList-305sx3 {
    background-color: rgba(0, 0, 0, 0.441);
}
.connection-107AGH {
    background-color: rgba(0, 0, 0, 0.541);
}
.connectionHeader-2rV1ze {
    background-color: rgba(0, 0, 0, 0.441);
}
.theme-dark .codeRedemptionRedirect-3SBiCp {
    background-color: rgba(0, 0, 0, 0.541);
}
.bd-addon-list .bd-addon-card {
    background-color: rgba(0, 0, 0, 0.541);
}
.bd-addon-list .bd-addon-header {
    background-color: rgba(0, 0, 0, 0.441);
}
.container-2ebMPP {
    background-image: url('https://wallpapercave.com/wp/wp2264785.png');
    background-size: cover;
}
.channelHeader-DFRX8q {
    background-color: rgba(0, 0, 0, 0.441);
}
.messages-23can0 {
    background-color: rgba(14, 7, 7, 0.741);
}
.header-1w9Q93 {
    background-color: rgba(66, 7, 7, 0.541);
}
.primary-38Hs-h:hover:not(.disabled-184-il), .secondary-2bzKEX {
    background-color: #4c0e0e;
}
.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
    background-color: #4c0e0e;
}
.tertiary-1e-lAP {
    background-color: #4c0e0e;
}
.wrapper-1_HaEi {
	background-color: transparent;
}
.scroller-3X7KbA {
	background-color: transparent;
}
.headerNormal-1l1Znk {
    background-color: transparent;
}
.headerTop-2y3V6H {
    background-color: transparent;
}
.input-2z42oC {
    background-color: #0000005c;
}
.profileBanner-1owKI5{
    background-color: transparent !important;
}
.container-2o3qEW {
    background: #00000099;
}
#bd-pub-button {
    background: linear-gradient(45deg, #942222, transparent);
}

.accountProfileCard-lbN7n- {
    background-color: #00000073;
}
.container-1oAagU {
    background-color: transparent;
}