.bg-1QIAus {
    background-color: transparent;
}

.app-2CXKsg {
    background-image: url("https://images3.alphacoders.com/716/716943.jpg");
    background-size: cover;
}
.wrapper-1_HaEi,
.sidebar-1tnWFu,
.chat-2ZfjoI, .threadSidebar-1o3BTy,
.privateChannels-oVe7HL,
.scroller-WSmht3,
.panels-3wFtMD,
.scroller-3X7KbA,
.container-ZMc96U.themed-Hp1KC_ {
    background-color: transparent;
}

/*Configs*/
.sidebarRegionScroller-FXiQOh,
.contentRegion-3HkfJJ,
.contentRegionScroller-2_GT_N {
    background-color: transparent;
}
.standardSidebarView-E9Pc3j {
    background-image: url("https://images3.alphacoders.com/836/836764.png");
}
/*config user example user profile*/
.accountProfileCard-lbN7n-,
.background-3d_SjE,
.fieldList-in8WkP {
    background-color: rgba(0, 0, 0, 0.4);
}
/*Texts*/
.brand-3g5E0C.item-3XjbnG, .themed-2-lozF.item-3XjbnG,
.header-2Kx1US,
.cozy-VmLDNB .messageContent-2t3eCI,
.name-3Vmqxm,
.activity-1-H7Zd,
.headerText-1qIDDT,
.name-28HaxV{
    font-variant: normal;
    text-shadow: 
    2px 0 0 rgb(0, 0, 0),
    -2px 0 0 rgb(0, 0, 0), 
    0 2px 0 rgb(0, 0, 0), 
    0 -2px 0 rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), 
    -1px -1px 0 rgb(0, 0, 0), 
    1px -1px 0 rgb(0, 0, 0), 
    -1px 1px 0 rgb(0, 0, 0);
}
.embedFull-1HGV2S {
    background-color: rgba(0, 0, 0, 0.4);
}
.textArea-2CLwUE {
    background-color: transparent;
}
.scrollableContainer-15eg7h {
    background: linear-gradient(75deg, rgba(50, 33, 128, 0.5), rgba(17, 0, 255, 0.5))
}
.channelTextArea-1FufC0 {
    background-color: transparent;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: rgba(0, 0, 0, 0.4);
}
#bd-pub-button {
    background-color: rgba(0, 0, 0, 0.4);
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    color: rgb(18, 110, 196);
    background-color: transparent;
}
.searchBar-zdmu7v {
    background-color: rgba(0, 0, 0, 0.4);
}
.childWrapper-1j_1ub {
    background-color: transparent;
}
.container-1NXEtd {
    background-color: transparent;
}
.members-3WRCEx, .members-3WRCEx>div,
.container-2o3qEW {
    background-color: rgba(0, 0, 0, 0.2);
}
.content-3spvdd {
    background-color: rgba(0, 0, 0, 0.2);
    
}
.wrapper-2vIMkT,.button-3bklZh {
    background-color: rgba(0, 0, 0, 0.4);
}
.menu-1QACrS {
    background-color: rgba(0, 0, 0, 0.4);
}
/*Friends*/
.container-ZMc96U.themed-Hp1KC_,
.theme-dark .container-2cd8Mz,
.container-1oAagU,
.nowPlayingColumn-1eCBCN {
    background-color: transparent;
}
.wrapper-2RrXDg,
.section-3G9aLW,
.theme-dark .inset-SbsSFp {
    background-color: rgba(0, 0, 0, 0.2);
}
.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.actionButton-3-B2x- {
    background-color: rgba(0, 0, 0, 0.4);
}
.actionButton-3-B2x-.highlight-3DSi7b {
    background-color: rgba(0, 0, 0, 0.6);
}
.container-2oNtJn {
    background-color: rgba(0, 0, 0, 0.4);
}