.app-2CXKsg {
    background-color: transparent;
}
.bg-1QIAus {
    background-color: transparent;
}
.chat-2ZfjoI, .threadSidebar-1o3BTy {
    background-color: transparent;
}
.container-1eFtFS {
    background-image: url("https://image.api.playstation.com/vulcan/img/rnd/202103/2509/K3XQRdwa0G7WHvl3oVigHnUN.jpg");
    background-size: cover;
}
.scroller-WSmht3 {
    background-color: transparent;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: rgba(0, 0, 0, 0.342);
}
.sidebar-1tnWFu {
    background: transparent;
}
.container-ZMc96U.themed-Hp1KC_ {
    background-color: transparent;
}
.children-3xh0VB:after {
    position: unset;
}
.privateChannels-oVe7HL {
    background-color: rgba(0, 0, 0, 0.342);
}
.wrapper-1_HaEi {
    background-color: transparent;
}
.scroller-3X7KbA {
    background-color: rgba(0, 0, 0, 0.442);
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: rgba(0, 0, 0, 0.316);
}
.panels-3wFtMD {
    background-color: rgba(0, 0, 0, 0.342);
}
.scrollableContainer-15eg7h {
    background-color: transparent;
}
.channelTextArea-1FufC0 {
    background-color: rgba(0, 0, 0, 0.442)
}
.searchBar-zdmu7v {
    background-color: rgba(0, 0, 0, 0.442);
}
.selected-1-Z6gm .layout-1qmrhw {
    background-color: rgba(0, 0, 0, 0.242);
}
.theme-dark .container-2cd8Mz {
    background-color: transparent;
}
.nowPlayingColumn-1eCBCN {
    background-color: transparent;
}
.outer-2JOHae {
    background-color: rgba(0, 0, 0, 0.442);
}
.container-2oNtJn {
    background-color: rgba(0, 0, 0, 0.442);
}
.container-1NXEtd {
    background-color: rgba(0, 0, 0, 0.242);
}
.members-3WRCEx, .members-3WRCEx>div {
    background-color: rgba(0, 0, 0, 0.242);
}
.childWrapper-1j_1ub {
    background-color: rgba(0, 0, 0, 0.342);
}
.theme-dark {
    --scrollbar-auto-track: transparent;
    
}