.app-2CXKsg {
    background-image: url(https://images2.alphacoders.com/212/212292.jpg);
    background-size: cover;
}
.bg-1QIAus {
    background-color: transparent;
}
.chat-2ZfjoI, .threadSidebar-1o3BTy {
    background-color: transparent;
}


.sidebar-1tnWFu {
    background-color: transparent;
}
.privateChannels-oVe7HL {
    background-color: transparent;
}
.scroller-WSmht3 {
    background-color: transparent;
}
.panels-3wFtMD {
    background-color: transparent;
}
.scroller-2TZvBN {
    background-color: transparent;
}
.wrapper-1Rf91z {
    background-color: transparent;
}
.channelTextArea-1FufC0 {
    background-color: transparent;
}
.scrollableContainer-15eg7h {
    background-color: rgba(0, 0, 0, 0.464);
}
.container-ZMc96U.themed-Hp1KC_ {
    background-color: transparent;
}
.theme-dark .children-3xh0VB:after {
    position: unset;
}
.embedFull-1HGV2S {
    background-color: transparent;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: rgba(0, 0, 0, 0.164);
}
.sidebar-1tnWFu {
    background-color: transparent;
}
.container-1NXEtd {
    background-color: transparent;
}
.members-3WRCEx, .members-3WRCEx>div {
    background-color: transparent;
}
.layer-86YKbF {
    background-color: transparent;
}
.standardSidebarView-E9Pc3j {
    background-image: url(https://wallpapercave.com/wp/wp2374524.jpg);
    background-size: cover;
}
.contentRegion-3HkfJJ {
    background-color: transparent;
}
.sidebarRegionScroller-FXiQOh {
    background-color: transparent;
}
.contentRegionScroller-2_GT_N {
    background-color: transparent;
}
.background-3d_SjE {
    background-color: rgba(0, 0, 0, 0.264);
}
.fieldList-in8WkP {
    background-color: rgba(0, 0, 0, 0.264);
}
.root-SR8cQa {
    background-image: url(https://wallpapercave.com/wp/wp2374539.jpg);
    background-size: cover;
}
.topSectionNormal-2-vo2m {
    background-color: transparent;
}
.body-3ND3kc {
    background-color: transparent;
}
.theme-dark .uploadModal-2ie9O_ {
    background-image: url(https://wallpapercave.com/wp/wp2374509.png);
    background-size: cover;
    background-position: 101px;
}
.theme-dark .footer-VCsJQY {
    background-color: transparent;
}
.topSectionPlaying-1J5E4n,
.headerPlaying-j0WQBV {
    background-color: transparent;
}
.attachment-1PZZB2 {
    background-color: transparent;
    border-radius: 10px;
    border-color: yellow;
    border-bottom:double 8px yellow;
}
.userPopout-3XzG_A {
    background-image: url(https://wallpapercave.com/wp/wp5324270.png);
    background-size: cover;
}
.theme-dark .headerNormal-T_seeN {
    background-color: transparent;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: transparent;
}
